{% extends "baseTemplate.html" %} 

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
        <small>Proyecto final Conmutacion</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Estudiantes:</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4"  src="{{ url_for('static', filename='img/domotica.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
            <h2>Qué es Domótica?</h2>
            <p>Un sistema domótico es capaz de recoger información proveniente de unos sensores o entradas, procesarla y emitir órdenes a unos actuadores o salidas. El sistema puede acceder a redes exteriores de comunicación o información.</p>
            <p>La domótica permite dar respuesta a los requerimientos que plantean estos cambios sociales y las nuevas tendencias de nuestra forma de vida, facilitando el diseño de casas y hogares más humanos, más personales, polifuncionales y flexibles.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Equipo</h2>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h4 class="card-title">Alejandro Arango</h4>
                    <p class="card-text">De todo un poquito.</p>
                </div>
                <div class="card-footer">
                    <a href="#">aarangov1@eafit.edu.co</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h4 class="card-title">Sebastian Morales</h4>
                    <p class="card-text">De todo un poquito.</p>
                </div>
                <div class="card-footer">
                    <a href="#">jsmoralesd@eafit.edu.co</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}