<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- meta-->
        <div>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
        </div>

        <!-- Titulo-->
        <title>Casa Domótica</title>

        <!-- Favicon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

        <!-- Custom styles-->
            <link rel="stylesheet" href="{{ url_for("static",filename="css/modern-business.css")}}">
            <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap.min.css")}}">
            <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap-toggle.min.css")}}">
            <link rel="stylesheet" href="{{ url_for("static",filename="css/termometer.css")}}">
            <link rel="stylesheet" href="{{ url_for("static",filename="css/tank.css")}}">
            <link rel="stylesheet" href="{{ url_for("static",filename="css/alarma.css")}}">

    </head>

    <body>

        <!-- Navigation Bar-->
         <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Inicio
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio" style="background-color:grey">
                                <a class="dropdown-item" href="/" >Inicio</a>
                                <a class="dropdown-item" href="/r" >Recargar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Controles
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio" style="background-color:grey">
                                <a class="dropdown-item" href="/Cuartos" >Cuartos</a>
                                <a class="dropdown-item" href="/Banos" >Baños</a>
                                <a class="dropdown-item" href="/SalaYCocina" >Sala y Cocina</a>
                                <a class="dropdown-item" href="/Puertas" >Puertas y Dispositivos</a>
                                <a class="dropdown-item" href="/Estadisticas">Estadisticas</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a style="color: white" class="nav-link" href="/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Universidad Eafit 2019</p>
            </div>
            <!-- /.container -->
        </footer>


        <!-- Scripts -->
        <div>
            <script src="{{ url_for('static', filename="js/jquery.min.js")}}"></script>
            <script src="{{ url_for('static', filename="js/bootstrap-toggle.min.js")}}"></script>
            <script src="{{ url_for('static', filename="js/postcheckbox.js")}}"></script>
            <script src="{{ url_for('static', filename="js/popper.js")}}"></script>
            <script src="{{ url_for('static', filename="js/d3.min.js")}}"></script>
            <script src="{{ url_for('static', filename="js/tank.js")}}"></script>
            <script src="{{ url_for('static', filename="js/estadisticas.js")}}"></script>
            <script src="{{ url_for('static', filename="js/bootstrap.bundle.min.js")}}"></script>
        </div>
    </body>
</html>