{% extends "baseTemplate.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Estado de las luces
        <small>Cuartos</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Cuartos</li>
    </ol>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-sm-4 portfolio-item">

            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Cuarto Principal</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_cuarto1" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_cuartos["valor_cuarto1"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-sm-6 col-sm-4 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Cuarto Secundario</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_cuarto2" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_cuartos["valor_cuarto2"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-sm-4 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Cuarto del Servicio</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_cuarto3" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_cuartos["valor_cuarto3"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <!-- Pagination -->
    <br>
    <br>
    <br>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/Estadisticas" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" style="color:black">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Baños">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Puertas">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/SalaYCocina">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="Estadisticas">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Baños" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<!-- /.container -->
{% endblock %}