{% extends "baseTemplate.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Estadisticas
        <small>Monitoreo en tiempo real</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Temperatura, Humedad, Polucion</li>
    </ol>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-sm-3 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Temperatura</center>
                    </h4>
                    <div>
                        <center>
                            <div id="wrapper">
                                <div id="termometer">
                                    <div id="temperature" style="height:0" data-value="0°C"></div>
                                    <div id="graduations"></div>
                                </div>

                                <div id="playground">
                                    <div id="range">
                                        <input id="minTemp" type="text" value="-20">
                                        <input type="range" min="-20" max="50" value="42">
                                        <input id="maxTemp" type="text" value="50">
                                    </div>
                                    <p id="unit">Celcius C°</p>
                                </div>
                            </div>
                        </center>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-3 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Humedad</center>
                    </h4>
                    <div>
                        <center>Poner grafico o algo de humedad</center>
                        <center>
                            <div>
                                <div id="empty-space"></div>
                                <div id="wrapper2" class="wrapper">
                                </div>

                                <button class="btn btn-success" id="onetext" onclick="setOneText()">Set one text
                                </button>
                                <button class="btn btn-success" id="twotext" onclick="setTwoText()">Set two texts
                                </button>
                                <br>
                                <button class="btn btn-success" id="high" onclick="high()">High</button>
                                <button class="btn btn-success" id="mid" onclick="mid()">Mid</button>
                                <button class="btn btn-success" id="low" onclick="low()">Low</button>
                            </div>
                        </center>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-3 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Polucion</center>
                    </h4>
                    <div>
                        <center>Poner grafico o algo de polucion</center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-3 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Alarma por polucion</center>
                    </h4>
                    <div>
                        <center>Poner una alarma o algo, puede sonar ¿?</center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <br>
    <br>
    <br>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/controlSalaCocina.html" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlCuartos.html">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlBaños.html">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlPuerta.html">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlSalaCocina.html">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlEstadisticas.html">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/templates/controlCuartos.html" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
{% endblock %}