{% extends "baseTemplate.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Estado de las luces
        <small>Sala, Comedor y Cocina</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Sala, Comedor y Cocina</li>
    </ol>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-sm-4 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Sala</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_sala" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_SalaCocina["valor_sala"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-4 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Comedor</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_comedor" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_SalaCocina["valor_comedor"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-sm-4 portfolio-item">
            <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                        <center>Cocina</center>
                    </h4>
                    <div>
                        <center>
                            <input type="checkbox" name="foco_cocina" value="0" data-toggle="toggle" data-onstyle="success" {{'checked' if
                            valores_SalaCocina["valor_cocina"]==1.0 else ''}} data-size="large">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <br>
    <br>
    <br>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/Puertas" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Cuartos">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Baños">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Puertas">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" style="color:black">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Estadisticas">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Estadisticas" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
{% endblock %}